p
    a(href='/new') Create new document

ul
  - for (var i in documents)
    li
        a(class='button', href='/documents/'+documents[i].id )= documents[i].title 
        a(class='button destroy', href='/documents/' + documents[i].id) Delete

        div!= partial('part/document', { data: documents[i].data } )




        // commenting out delete form (handled dynamically with jquery)
            form(method='post', action='/documents/' + documents[i].id)
                input(name='_method', value='DELETE', type='hidden')
                input(type='submit', value='Delete')
