!!!
html
  head
    title Nodepad

    link(rel='stylesheet', href='/css/Aristo/Aristo.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.6.1.min.js')
    script(type='text/javascript', src='http://code.jquery.com/ui/1.8.13/jquery-ui.min.js')

    script
        $(function(){

            // Button
            $("#divButton, #linkButton, #submitButton, #inputButton").button();

        });

  body
    p Logged in as #{session.user.name}

    p
        form(action='/sessions', method='POST')
            input(type='hidden', name='_method', value='DELETE')
            input(type='submit', value='Logout')

    h1
        a(href='/') Nodepad
    
    != body


