!!!
html
  head
    title Nodepad
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
  body
    h1 Welcome to Nodepad
    != body


