p Create account

- if (message)
p= message

form(method='post', action='/users')
    div
      label Email:
        input(name='user[name]')
    div
      label Password:
        input(name='user[password]', type='password')
    div
      input(type='submit', value='Register')

p
    a(href='/sessions') Login